@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: studiofeixen-variable;
  src: url(/assets/fonts/studio-feixen-sans-variable.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: studiofeixen;
  src: url(/assets/fonts/StudioFeixenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: studiofeixen-writer;
  src: url(/assets/fonts/StudioFeixenSansWriter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[class^=btn--] {
  text-align: center;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.space-between {
  justify-content: space-between;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.showy-container {
  width: 100%;
  text-align: center;
}

.mobile-hidden {
  display: none;
}
@media (min-width: 768px) {
  .mobile-hidden {
    display: block;
  }
}

.mobile-visible {
  display: block;
}
@media (min-width: 768px) {
  .mobile-visible {
    display: none;
  }
}

:root {
  --background-color: #f3f2f9;
  --color: #606887 ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2b2b33;
    --color: #f3f2f9 ;
  }
  .stroke {
    -webkit-text-stroke: 1.25px #aab2d1 !important;
  }
  .noise {
    opacity: 0.2 !important;
  }
}
html {
  color-scheme: dark light;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  padding: 0 1rem;
}

:root:has(#theme [value=☀️]:checked) {
  color-scheme: light;
  --background-color: #f3f2f9;
  --color: #606887;
}

:root:has(#theme [value=🌑]:checked) {
  color-scheme: dark;
  --background-color: #2b2b33;
  --color: #f3f2f9;
}
:root:has(#theme [value=🌑]:checked) .stroke {
  -webkit-text-stroke: 1.25px #aab2d1 !important;
}
:root:has(#theme [value=🌑]:checked) .noise {
  opacity: 0.2 !important;
}

p {
  font-weight: 500;
  font-family: "studiofeixen-variable";
}

section {
  border-bottom: 1px solid var(--color);
}
section:last-of-type {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.large-font {
  font-size: 16vw;
  text-wrap: nowrap;
  letter-spacing: -2px;
  margin: 0;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  animation: grain 7s steps(10) infinite;
  background-image: url(/assets/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.25;
  pointer-events: none;
}
@keyframes grain {
  0%, to {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "studiofeixen-variable", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
html {
  margin: 0;
  overflow-x: hidden;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1261px) {
  .container {
    width: 1200px;
  }
}

.btn,
button, [class^=btn--] {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 50%;
  color: var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: var(--color);
  font-weight: 900;
}

form {
  margin: 1rem 0 1.5rem 0;
}
form input {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--background-color);
  padding: 0.5rem 0.25rem;
}
form input::-moz-placeholder {
  color: var(--background-color);
}
form input::placeholder {
  color: var(--background-color);
}
form input:not(:-moz-placeholder-shown):valid {
  outline-color: #78ffd1;
}
form input:not(:placeholder-shown):valid {
  outline-color: #78ffd1;
}
form input:not(:-moz-placeholder-shown):invalid {
  outline-color: #ffb3c2;
}
form input:not(:placeholder-shown):invalid {
  outline-color: #ffb3c2;
}
form button {
  background-color: var(--color);
  border: 1px solid var(--color);
  color: var(--background-color);
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--color);
  padding: 0.5rem 0.25rem;
}

.logo__container {
  position: fixed;
  top: 0;
  left: 1rem;
  font-size: small;
  z-index: 2;
}

.theme-toggle__container {
  position: fixed;
  top: 1.5rem;
  right: 80px;
  z-index: 2;
}

.hamburger__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--color);
  stroke-width: 4.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-container {
  margin-bottom: 3.5rem;
}
.project-container .project {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.project-container .project .pr-img {
  position: relative;
  height: 70vh;
  width: 100%;
}
.project-container .project .pr-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6156862745));
  z-index: 0;
}
.project-container .project h2,
.project-container .project h4 {
  margin: 0;
}
.project-container .project .pr-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
}
.project-container .project .pr-details .pr-link a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wide-el {
  font-variation-settings: "wght" 400, "wdth" 125;
  letter-spacing: 0;
  display: inline-block;
  transition: font-variation-settings 0.4s;
}

.wide-el:hover {
  font-variation-settings: "wght" 400, "wdth" 100;
  cursor: pointer;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1.25px #606887;
  font-family: "studiofeixen";
}
.stroke .wide-el {
  color: var(--color);
  font-family: "studiofeixen-variable";
  letter-spacing: 0.4px;
  transition: all 0.4s;
}
.stroke .wide-el:hover {
  font-variation-settings: "wght" 400, "wdth" 125;
  opacity: 0.8;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */