.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;

    @include mq(small) {
        padding: 0 2rem;
        width: 100%;
    }

    @include mq(large) {
        width: 100%;
        max-width: 1624px;
    }

}