.sidebar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    background-color: var(--background-color);
    transition: transform 300ms ease-in-out;
    transform: translateX(-100%);
    border-right: 1px solid var(--color);

    &.open {
        transform: translateX(0);
        // background-color: #2b2b33;
    }

    @media (min-width: 768px) {
        border-right: 1px solid transparent;
        transform: translateX(0);
        width: 10rem;
        -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 1200px) {
        width: 15rem;
    }
}