// Color theme for page

:root {
    --background-color: #f3f2f9;
    --color: #606887
}

* {
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    font-family: $font-family--primary;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2b2b33;
        --color: #f3f2f9;
    }

    .stroke {
        -webkit-text-stroke: 1.25px #aab2d1 !important;
    }

    .noise {
        opacity: .2 !important;
    }

    button {
        background-color: #aab2d1 !important;
        border-color: #aab2d1 !important;
    }

    .blob {
        stroke: #aab2d1 !important;
        fill: #aab2d144 !important;
    }
}

html {
    color-scheme: dark light;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

:root:has(#theme:checked) {
    color-scheme: dark;
    --background-color: #2b2b33;
    --color: #f3f2f9;

    .stroke {
        -webkit-text-stroke: 1.25px #aab2d1 !important;
    }

    .wide-el {
        color: #aab2d1;
    }

    .noise {
        opacity: .2 !important;
    }

    .blob {
        stroke: #aab2d1 !important;
        fill: #aab2d144 !important;
    }
}

.page-wrapper {
    display: flex;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/* Backdrop Blob Container */
// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     pointer-events: none;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;

//     svg {
//         height: 100vh;
//         width: 100vw;
//         filter: blur(30px);
//         -webkit-filter: blur(30px);
//     }
// }

/* Blob Styling */
.blob {
    fill: $flamingo;
    stroke: $spring-green;
    stroke-linecap: round;
    stroke-width: 2;
    will-change: transform;
    animation: float 25s infinite alternate ease-in-out;
    transform-origin: center;
    opacity: 0.45;
}

/* Floating Animation */
@keyframes float {
    0% {
        transform: scale(1.5) translate(65%, 50%) rotate(0);
    }

    50% {
        transform: scale(1.55) translate(calc(60% - 10px), 50%) rotate(-5deg);
    }

    100% {
        transform: scale(1.5) translate(65%, 50%) rotate(0);
    }
}



.sidebar {
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    background-color: var(--background-color);
}

.page-wrapper {
    width: 100%;

    @media (min-width: 768px) {
        main {
            margin-left: 10rem;
        }

        .sidebar {
            display: flex;
        }
    }

    @media (min-width: 1200px) {
        main {
            margin-left: 15rem;
        }

        .sidebar {
            width: 15rem;
        }
    }
}

p {
    font-weight: $font-weight--semi-bold;
    font-family: 'studiofeixen-variable';
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

// Noise page overlay

.noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(/assets/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .25;
    pointer-events: none
}

@-webkit-keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

@keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}