.btn {
    @include bg-colors($ui-colors);
    padding: 5px 20px;
    font-size: 1.25rem;
    background-color: #926fb1;
    border: 1px solid #926fb1;
    height: 60px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    // letter-spacing: .4px;
    text-transform: uppercase;
    gap: 1rem;
}

[class^="btn--"] {
    @extend %center-align;
    @extend %btn;
    // margin-bottom: em(20px, 14px);
    width: auto;
    // display: inline-block;
    //  margin-right: em(15px, 14px);
}

.google {
    background-color: #4387f6 !important;
    border-color: #4387f6 !important;
}

.trustpilot {
    background-color: #00b67b !important;
    border-color: #00b67b !important;
}