#hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;

    .wide-el {
        transition: all 400ms ease;
    }

    .wide-el:hover {
        color: $lime !important;
        text-shadow: black 2px 0 16px;
    }

    @media (min-width: 458px) {
        padding: 0 5rem;

        h1 {
            font-size: 7vw;
        }
    }

    @media (min-width: 768px) {
        // padding: 0 7rem;
        padding: 0 6rem;

        h1 {
            font-size: 7vw;
        }
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 5vw;
        }

        p {
            font-size: 2vw;
        }
    }
}

.code-examples {
    @media (max-width: 767px) {
        padding: 0 1rem !important;
        margin-top: 5rem;
    }
}