#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
        padding: 0 7rem;
    }

    @media (min-width: 1200px) {
        h1 {
            font-size: 5vw;
        }

        p {
            font-size: 2vw;
        }
    }
}