//Logo - remains fixed in top left
.logo__container {
    position: fixed;
    top: 0;
    left: 1rem;
    font-size: small;
    z-index: 2;
}

// Theme toggle
.theme-toggle__container {
    position: fixed;
    top: 1.5rem;
    right: 80px;
    z-index: 2;
}

// Hamburger menu
.hamburger__container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    @media (min-width: 768px) {
        display: none;
    }
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color);
    stroke-width: 4.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

// Sidebar CSS

.nav-menu__container {
    padding: 1rem;
    height: calc(100% - 3.5rem);
    display: flex;
    align-items: center;

    ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    li {
        margin: 0 0 1.75rem 0;
        list-style: none;
        font-size: large;
        font-weight: 600;
        // overflow: hidden;
        // padding: 5px;

        @media (min-width: 1200px) {
            font-size: 1.75rem;
        }

        a {
            transition: all 250ms ease-out;
            position: relative;
        }

        &:hover a {
            color: $lime;
            text-shadow: black 1px 0 10px;

            &::before {
                transform: translateY(-100%);
            }
        }
    }
}

.social-links {
    height: 3.5rem;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    gap: 0.5rem;

    .fa-brands {
        font-size: 2.5rem;
        transition: all .150s ease;

        &:hover {
            color: $lime;
            text-shadow: black 1px 0 10px;
        }
    }
}