.project-container {
    margin-bottom: 3.5rem;

    .project {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .pr-img {
            position: relative;
            height: 70vh;
            width: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, #00000033, #0000009d);
                z-index: 0;
            }
        }

        h1,
        h4 {
            margin: 0;
        }

        .pr-details {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            img {
                width: 1rem;
            }
        }
    }
}