#services {
    margin-bottom: 6rem;
}

.subheading {}

.service-list {
    margin: 0 -15px;

    h2 {
        font-size: 2.75rem;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: #333645;
        letter-spacing: .4px;
        text-align: center;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // gap: 30px;

        .service {
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        .service {
            width: calc(33.33%);
        }
    }
}

.service:nth-child(n+5) {
    @media (min-width: 768px) {
        width: calc(50%);
    }

    @media (min-width: 1261px) {
        width: calc(25%);
    }
}

.view-all-work {
    padding-top: 15px;

}

.view {
    font-size: 2.25rem !important;
    font-weight: 600 !important;
}

.service {
    padding: 0 15px;
    margin-top: 30px;

    .service-inner {
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all .5s ease;
        top: 0;

        &:hover {
            color: #fff;
            top: -10px;
            border-color: transparent !important;
            background-color: #67809f;

            button {
                background-color: #fff;
                border-color: #fff;
                color: #67809f;
            }

            .icon-container {
                background-color: #fff !important;
                border-color: #fff !important;

                span {
                    color: #67809f !important;
                }
            }


        }

        h3 {
            font-size: 1.3rem;
            line-height: 1.1;
            font-weight: 400;
            position: relative;
            padding-bottom: 10px;
            margin: 0 0 11px;
        }

        p {
            font-size: .8125rem;
            line-height: 1.375rem;
            margin-bottom: 13px;
            font-weight: 400;
        }

        button {
            height: auto;
            line-height: 35px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-size: 1.063rem;
            border-radius: 3px;
            white-space: normal;
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            margin-top: auto;
        }
    }



}

.btn-software:hover {
    background-color: #e8a008;
    border-color: #d49308;
}

#it:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #4183d7 !important;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #4183d7 !important;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #4183d7 !important;
        }
    }

}

.btn-it:hover {

    background-color: #2a6ec6;
    border-color: #2665b5;
}

#digital:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #2ecc71;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #2ecc71;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #2ecc71 !important;
        }
    }

}

.btn-digital:hover {
    background-color: #26ab5f;
    border-color: #239a55;
}

#telecoms:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #d64541;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #d64541;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #d64541 !important;
        }
    }

}

.btn-telecoms:hover {
    background-color: #c42e2a;
    border-color: #b32a27;
}


#web:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #926fb1;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #926fb1;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #926fb1 !important;
        }
    }

}

.btn-web:hover {
    
    background-color: #7e57a0;
    border-color: #735093;
}

#security:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #f62459;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #f62459;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #f62459 !important;
        }
    }

}

.btn-security:hover {
    
    background-color: #e80a42;
    border-color: #d4093c;
}

#developer:hover .service-inner {
    color: #fff;
    top: -10px;
    border-color: transparent !important;
    background-color: #ce4125;

    button {
        background-color: #fff;
        border-color: #fff;
        color: #ce4125;
    }

    .icon-container {
        background-color: #fff !important;
        border-color: #fff !important;

        span {
            color: #ce4125 !important;
        }
    }

}

.btn-developer-course:hover {
    background-color: #ab361f;
    border-color: #9a311c;
}

.icon-container {
    // padding: 20px;
    border-radius: 50%;
    border: 1px solid black;
    width: fit-content;
    // margin-inline: auto;
    width: 65px;
    height: 65px;
    margin: 0 auto 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 1.75rem;
        color: #fff;
    }
}

.software,
.btn-software {
    background-color: #f7b322;
    border-color: #f7b322;
}

.it,
.btn-it {
    background-color: #4183d7;
    border-color: #4183d7;
}

.digital,
.btn-digital {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.telecoms,
.btn-telecoms {
    background-color: #d64541;
    border-color: #d64541;
}

.web,
.btn-web {
    background-color: #926fb1;
    border-color: #926fb1;
}

.security,
.btn-security {
    background-color: #f62459;
    border-color: #f62459;
}

.developer,
.btn-developer-course {
    background-color: #ce4125;
    border-color: #ce4125;
}